.nav {
  border-bottom: 1px solid lightgray;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
  gap: 12px;
  padding: 0px 12px;
  margin-bottom: 6px;
}

.link {
  padding: 12px 0px;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.isCurrent {
  color: orangered;
}
